<div>
  <div flex layout="row" layout-align="space-around start" layout-padding>
  <md-whiteframe layout="column" class="md-whiteframe-z2 md-padding" layout-margin flex-gt-sm="80">
    <div layout="row">
      <div class="formheader" flex>
        <md-icon class="material-icons">public</md-icon>
        <span>Country List</span>
      </div>
      <md-button ng-hide="loading">
        <md-icon class="material-icons">search</md-icon>
        <label>Search</label>
      </md-button>
      <md-button ng-click="newCountry()" class="md-primary md-hue-2" ng-hide="loading">
        <md-icon class="material-icons">&#xe145;</md-icon>
        <label>Create</label>
      </md-button>
      <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-2" ng-show="loading"></md-progress-circular>
    </div>
    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{total}}" md-on-paginate="onPagination" md-page-select="true" md-boundary-links="true"></md-table-pagination>
    <md-table-container>
      <table class="no-checkbox" md-table md-row-select ng-model="selected">
        <thead md-head md-order="query.order" md-on-reorder="onReOrder">
          <tr md-row>
            <th md-column md-order-by="id"><span>#</span></th>
            <th md-column md-order-by="code"><span>Country Code</span></th>
            <th md-column md-order-by="name"><span>Country Name</span></th>
            <th md-column md-order-by="fullname"><span>Country Full Name</span></th>
            <th md-column md-order-by="code2"><span>Code 2</span></th>
            <th md-column md-order-by="numeric3"><span>Numeric 3</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="country.id" md-auto-select md-on-select="showCountry" ng-repeat="country in countries | orderBy: order">
            <td md-cell>{{country.id}}</td>
            <td md-cell>{{country.code}}</td>
            <td md-cell>{{country.name}}</td>
            <td md-cell>{{country.fullname}}</td>
            <td md-cell>{{country.code2}}</td>
            <td md-cell>{{country.numeric3}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{total}}" md-on-paginate="onPagination" md-page-select="true" md-boundary-links="true"></data-md-table-pagination>
  </md-whiteframe>
  </div>
</div>