<div>
  <div flex layout="row" layout-align="space-around start" layout-padding>
  <md-whiteframe layout="column" class="md-whiteframe-z2 md-padding" layout-margin flex style="max-width:500px; min-width:240px">
    <div class="formheader">
      <md-icon class="material-icons">public</md-icon>
      <span>Create New Country</span>
    </div>
    <form id="newCountryForm" name="newCountryForm" layout-align="start center" layout="row">
      <span flex="5" show-gt-xs></span>
      <div layout="column" flex="90">
        <div layout="row">
          <md-input-container flex="30" class="no-margin-bottom md-block">
            <label>Country Code</label>
            <input name="code" ng-model="country.code" required md-maxlength="3" ng-pattern="/^[A-Z]{3}$/" auto-focus-on>
            <div ng-messages="newCountryForm.code.$error" ng-show="newCountryForm.code.$dirty">
              <div ng-message="required">This field is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="pattern">Format: ABC</div>
            </div>
          </md-input-container>
          <span flex="5"></span>
          <md-input-container flex="30" class="no-margin-bottom md-block">
            <label>Code 2</label>
            <input name="code2" ng-model="country.code2" required md-maxlength="2" ng-pattern="/^[A-Z]{2}$/">
            <div ng-messages="newCountryForm.code2.$error" ng-show="newCountryForm.code2.$dirty">
              <div ng-message="required">This field is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="pattern">Format: AB</div>
            </div>
          </md-input-container>
          <span flex="5"></span>
          <md-input-container flex="30" class="no-margin-bottom md-block">
            <label>Numeric 3</label>
            <input name="numeric3" ng-model="country.numeric3" required md-maxlength="3" ng-pattern="/^[0-9]{3}$/">
            <div ng-messages="newCountryForm.numeric3.$error" ng-show="newCountryForm.numeric3.$dirty">
              <div ng-message="required">This field is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="pattern">Format: 123</div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="no-margin-bottom md-block">
          <label>Country Name</label>
          <input name="name" ng-model="country.name" required md-maxlength="100" minlength="5">
          <div ng-messages="newCountryForm.name.$error" ng-show="newCountryForm.name.$dirty">
            <div ng-message="required">This field is required!</div>
            <div ng-message="md-maxlength">That's too long!</div>
            <div ng-message="minlength">That's too short!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Country Full Name</label>
          <input name="fullname" ng-model="country.fullname" md-maxlength="150">
          <div ng-messages="newCountryForm.fullname.$error" ng-show="newCountryForm.fullname.$dirty">
            <div ng-message="required">This field is required!</div>
            <div ng-message="md-maxlength">That's too long!</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="start center" layout-align-xs="end center">
          <span flex show-gt-xs></span>
          <md-button type="sumbit" ng-click="addCountry()" ng-class="{'md-raised md-primary md-hue-2':newCountryForm.$valid}">
            <md-icon class="material-icons">&#xe145;</md-icon>
            <label>Create</label>
          </md-button>
          <md-button ng-click="clearCountry()" ng-class="{'md-primary md-hue-2':newCountryForm.$dirty}">
            <md-icon class="material-icons">&#xe14c;</md-icon>
            <label>Cancel</label>
          </md-button>
        </div>
      </div>
      <span flex show-gt-xs></span>
    </form>
  </md-whiteframe>
  </div>
</div>