<!-- category info page -->
<div>
  <div flex layout="row" layout-align="center start" layout-padding>
    <!-- Category Information -->
    <md-whiteframe layout="column" class="md-whiteframe-z2 md-padding" layout-margin flex style="max-width:500px; min-width:240px">
      <div layout="row">
        <div class="formheader" flex>
          <md-icon class="material-icons">folder_open</md-icon>
          <span>Category Information ( {{category.id}} )</span>
        </div>
        <!-- Show Category -->
        <md-button ng-click="editCategory()" class="md-primary md-hue-2" ng-hide="editMode">
          <md-icon class="material-icons">&#xe3c9;</md-icon>
          <label>Edit</label>
        </md-button>
        <md-button ng-click="listCategory()" ng-hide="editMode">
          <md-icon class="material-icons">&#xe166;</md-icon>
          <label>Back</label>
        </md-button>
        <!-- Edit Category -->
        <md-button ng-click="updateCategory()" ng-class="{'md-warn md-hue-2':editCategoryForm.$valid}" ng-show="editMode">
          <md-icon class="material-icons">&#xe161;</md-icon>
          <label>Save</label>
        </md-button>
        <md-button ng-click="showCategory()" ng-show="editMode">
          <md-icon class="material-icons">&#xe166;</md-icon>
          <label>Undo</label>
        </md-button>
      </div>
      <!-- Show Category -->
      <div layout-align="start center" layout="row" ng-if="!editMode">
        <span flex="5" show-gt-xs></span>
        <div layout="column" flex="85">
          <md-input-container class="no-margin-bottom md-block">
            <label>Category</label>
            <input class="disabled-black" name="categoryname" ng-model="category.name" disabled>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Category Description</label>
            <input class="disabled-black" name="remark" ng-model="category.remark" disabled>
          </md-input-container>
        </div>
        <span flex show-gt-xs></span>
      </div>
      <!-- Edit Category -->
      <form id="editCategoryForm" name="editCategoryForm" ng-show="editMode">
        <div layout-align="start center" layout="row">
          <span flex="5" show-gt-xs></span>
          <div layout="column" flex="85">
            <md-input-container class="no-margin-bottom md-block">
              <label>Category</label>
              <input name="categoryname" ng-model="category.name" required md-maxlength="50" focus-on="categoryname">
              <div ng-messages="editCategoryForm.categoryname.$error" ng-show="editCategoryForm.categoryname.$dirty">
                <div ng-message="required">This field is required!</div>
                <div ng-message="md-maxlength">That's too long!</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Category Description</label>
              <input name="remark" ng-model="category.remark" required md-maxlength="50">
              <div ng-messages="editCategoryForm.remark.$error" ng-show="editCategoryForm.remark.$dirty">
                <div ng-message="required">This field is required!</div>
                <div ng-message="md-maxlength">That's too long!</div>
                <div ng-message="minlength">That's too short!</div>
              </div>
            </md-input-container>
          </div>
          <span flex show-gt-xs></span>
        </div>
      </form>
    </md-whiteframe>
  </div>
</div>